- if !clusters.empty?
  .top-area.adjust
    .gl-display-block.gl-text-right.gl-my-4.gl-w-full
      - if clusterable.can_add_cluster?
        = link_to s_('ClusterIntegration|Connect cluster with certificate'), clusterable.new_path, class: 'btn gl-button btn-confirm js-add-cluster gl-py-2', data: { qa_selector: 'integrate_kubernetes_cluster_button' }
      - else
        %span.btn.gl-button.btn-confirm.js-add-cluster.disabled.gl-py-2
          = s_("ClusterIntegration|Connect cluster with certificate")

.js-clusters-main-view{ data: js_clusters_list_data(clusterable) }
